/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300;400&display=swap');

body {
    font-family: "josefin-sans", sans-serif;
    color: #000000;
    text-align: center;    
    align-items: center;
    justify-content: center;   
}

button{
    cursor: pointer;
}

#Game{
    display:none;
}
/*Global Rules for Headings*/h1, h2, h3 {
    font-weight: Bold;
    text-decoration: underline;
    font-family: "Bebas Neue", sans-serif;
    color:#000000;
    }

h1 {
    font-size: 350%;
}
h2, h3 {
    font-size: 250%;
}

/*Menu Modal*/
.menu-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);       
}

/*Menu Modal Content*/
.menu-modal-content{
    background-color: #fafafa;
    margin: 10% auto;
    padding: 20px;
    border: 5px solid #ff9668;
    width: 80%;
    color:#000000;        
}

/*Menu Buttons*/
.menu-modal-content button{
    border-radius: 25px;    
    padding: 20px;
    width: 100px;
    height: 100px;
    align-items: center;
    cursor: pointer;
    font-size:100%;
    font-weight: bold;
    border: 5px solid #383C80;  
    margin: 5px; 
    color:#000000;   
}

/*Individual Menu Buttons*/
/*Easy Menu Button*/
.easy{
    background-color: #84ff9f;
    color:#000000;
}
.easy:hover{
background-color: #CBFAD6;
    border-radius: 75%;
    font-weight: bold;
}
/*Hard Menu Button*/
.hard{ 
    background-color: #ff5994;
    color:#000000;
}
.hard:hover {
    background-color: #F79ABA;
    border-radius: 75%;
    font-weight: bold;
}
/*Rules Menu Button*/
.rules-btn-menu{
    background-color: #edff8f;
    color:#000000;
}
.rules-btn-menu:hover {
    background-color: #F0F8C9;
    border-radius: 75%;
    font-weight: bold;
}
/*Lives Menu Button*/
.lives-btn{
    background-color:#82b6ff;
    color:#000000;
}
.lives-btn:hover {
    background-color: #AECDF9;
    border-radius: 75%;
     font-weight: bold;
}

/*Rules  Modal*/
.rules-modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);       
}
.rules-modal-content {
    background-color: #fafafa;
    margin: 10% auto;
    padding: 20px;
    left:5px;
    border: 5px solid #ff9668;
    width:80%;
    font-weight: bold;
    color:#000000;  
}
/*Text Content for Rules*/
ul{
    list-style-type: none;
    padding:0;
}
/*Rules Modal Closer*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*lives Modal*/
.lives-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.lives-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #ff9668;
    width: 80%;
    color:#000000;    
}
/*Easy Lives Button*/
.easy-lives{
    font-weight: bold;
    background-color:#84ff9f;
    height: 50px;
    width: 100px;
    font-size:100%;
    text-align:center;
    color:#000000;
}
/*Hard Lives Button*/
.hard-lives{
    font-weight: bold;
    background-color:#ff5994;
    height: 50px;
    width: 100px;
    font-size:100%;
    text-align:center;
    color:#000000;
}
/* Menu Lives Button*/
.rtn-btn{
    font-weight: bold;
    background-color:#82b6ff;
    height: 50px;
    width: 100px;
    font-size:100%;
    text-align:center;
    color:#000000;   
}
.rtn-btn:hover{
    border-radius: 75%;
}
/*Player Choice Buttons Container*/
.circle-container {
    position:relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    top: 50px;
    color: #000000;
}
/*Player Choice Buttons*/
.circle-button {
    position: absolute;
    font-size: 50px;
    margin: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    color:#000000;
  }
/*Rock*/
.circle-button:nth-child(1) {
    transform: rotate(270deg) translate(120px) rotate(-270deg);
    background-color: #84ff9f; 
    border: 5px solid #383C80; 
    justify-content: center;
    text-align:center;
    align-items: center;   
}   
/*Paper*/
.circle-button:nth-child(2) {
    transform: rotate(337.5deg) translate(120px) rotate(-337.5deg);
    background-color: #ff5994;    
    border: 5px solid #383C80; 
    justify-content: center;
    text-align:center;
    align-items: center;
}
/*Scissors*/
.circle-button:nth-child(3) {
   transform: rotate(202.5deg) translate(120px) rotate(-202.5deg);
   background-color:#edff8f ; 
   border: 5px solid #383C80;
   justify-content: center;
   text-align:center;
   align-items: center; 
}
/*Lizard*/
.circle-button:nth-child(4) {
    transform: rotate(145deg) translate(120px) rotate(-145deg);
    background-color:#82b6ff;    
    border: 5px solid #383C80;
    justify-content: center;
    text-align:center;
    align-items: center;
}   
/*Spock*/
.circle-button:nth-child(5) {
    transform: rotate(35deg) translate(120px) rotate(-35deg);
    background-color: #ff9668;  
    border: 5px solid #383C80;
    justify-content: center;
    text-align:center;
    align-items: center;        
}
/*results section*/
#result-section{
    border: 5px solid #ff9668;
    color:#000000;
    margin-top: 50px;
    font-size: 150%; 
  }
/*Names for Life Tracking*/
.Names{
    font-family:"Bebas Neue", sans-serif;
}
/*Player and computer choice*/
#result {
    font-size: 69%;
    margin-top: 20px;
}
/*you win or you lose*/
#final-result{
    font-size: 100%;
    font-weight: bold;
}

/*rules button on game screen*/
.rules-btn{
    font-weight: bold;
    background-color: #edff8f;
    text-align: center;
    color:#000000;
}

.rules-btn-game{
    height: 50px;
    width: 100px;
    font-size:100%;
    text-align:center;
    color:#000000;
}
.rules-btn-game:hover{
    border-radius: 75%;
}
/*menu button on game screen*/
.menu-btn-game{
    height: 50px;
    width: 100px;
    font-size:100%; 
    text-align:center;
}

/*Game Over  Modal */
.game-over-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.game-over-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #ff9668;
    width: 80%;
}
/*You win or You Lose*/
#game-over-result{
    font-family: "Bebas Neue", sans-serif;
    font-size: 250%;
}

#game-over-message{
    font-size: 125%;
}