/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300;400&display=swap');

body {
    font-family: "josefin-sans", sans-serif;
    color: #000000;
    text-align: center;    
    align-items: center;
    justify-content: center;   
}

#Game{
    display:none;
}
/*Global Rules for Headings*/h1, h2, h3 {
    font-weight: Bold;
    text-decoration: underline;
    font-family: "Bebas Neue", sans-serif;
    }

h1 {
    font-size: 350%;
}
h2, h3 {
    font-size: 250%;
}

/*Menu Modal*/
.menuModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);       
}

/*Menu Modal Content*/
.menuModal-content{
    background-color: #fafafa;
    margin: 10% auto;
    padding: 20px;
    border: 5px solid #ff9668;
    width: 80%;            
}

/*Menu Buttons*/
.menuModal-content button{
    border-radius: 25px;    
    padding: 20px;
    width: 100px;
    height: 100px;
    align-items: center;
    cursor: pointer;
    font-size:100%;
    font-weight: bold;
    border: 5px solid #383C80;  
    margin: 5px;    
}

/*Individual Menu Buttons*/
/*Easy Menu Button*/
.easy{
    background-color: #84ff9f;
}
.easy:hover{
background-color: #CBFAD6;
    border-radius: 75%;
    font-weight: bold;
}
/*Hard Menu Button*/
.hard{ 
    background-color: #ff5994;
}
.hard:hover {
    background-color: #F79ABA;
    border-radius: 75%;
    font-weight: bold;
}
/*Rules Menu Button*/
#rulesBtnMenu{
    background-color: #edff8f;
}
#rulesBtnMenu:hover {
    background-color: #F0F8C9;
    border-radius: 75%;
    font-weight: bold;
}
/*Lives Menu Button*/
.livesBtn{
    background-color:#82b6ff;
}
.livesBtn:hover {
    background-color: #AECDF9;
    border-radius: 75%;
     font-weight: bold;
}

/*Rules  Modal*/
.rulesModal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);       
}
.rulesModal-content {
    background-color: #fafafa;
    margin: 10% auto;
    padding: 20px;
    left:5px;
    border: 5px solid #ff9668;
    width:80%;
    font-weight: bold;   
}
/*Text Content for Rules*/
ul{
    list-style-type: none;
    padding:0;
}
/*Rules Modal Closer*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*lives Modal*/
.livesModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.livesModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #ff9668;
    width: 80%;    
}
/*Slider Label*/
label{ 
    display:none; 
}
/*Easy Lives Button*/
.easyLives{
    font-weight: bold;
    background-color:#84ff9f;
      height: 50px;
    width: 100px;
    font-size:100%;
    text-align:center;
}
/*Hard Lives Button*/
.hardLives{
    font-weight: bold;
    background-color:#ff5994;
    height: 50px;
    width: 100px;
    font-size:100%;
    text-align:center;
}
/* Menu Lives Button*/
.rtnBtn{
    font-weight: bold;
    background-color:#82b6ff;
    height: 50px;
    width: 100px;
    font-size:100%;
    text-align:center;
}
/*Player Choice Buttons Container*/
.circle-container {
    position:relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    top: 50px;
}
/*Player Choice Buttons*/
.circle-button {
    position: absolute;
    font-size: 50px;
    margin: 20px; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }
/*Rock*/
.circle-button:nth-child(1) {
    transform: rotate(270deg) translate(120px) rotate(-270deg);
    background-color: #84ff9f; 
    border: 5px solid #383C80; 
    justify-content: center;   
}   
/*Paper*/
.circle-button:nth-child(2) {
    transform: rotate(337.5deg) translate(120px) rotate(-337.5deg);
    background-color: #ff5994;    
    border: 5px solid #383C80; 
    justify-content: center; 
}
/*Scissors*/
.circle-button:nth-child(3) {
   transform: rotate(202.5deg) translate(120px) rotate(-202.5deg);
   background-color:#edff8f ; 
   border: 5px solid #383C80;
   justify-content: center;   
}
/*Lizard*/
.circle-button:nth-child(4) {
    transform: rotate(145deg) translate(120px) rotate(-145deg);
    background-color:#82b6ff;    
    border: 5px solid #383C80;
    justify-content: center;
}   
/*Spock*/
.circle-button:nth-child(5) {
    transform: rotate(35deg) translate(120px) rotate(-35deg);
    background-color: #ff9668;  
    border: 5px solid #383C80;
    justify-content: center;        
}
/*results section*/
#resultSection{
    border: 5px solid #ff9668;
    margin-top: 50px;
    font-size: 150%;    
}
/*Names for Life Tracking*/
#Names{
    font-family:"Bebas Neue", sans-serif;
}
/*Player and computer choice*/
#result {
    font-size: 69%;
    margin-top: 20px;
}
/*you win or you lose*/
#finalResult{
    font-size: 100%;
    font-weight: bold;
}

/*rules button on game screen*/
.rulesBtn{
    font-weight: bold;
    background-color: #edff8f
}

.rulesBtnGame{
    height: 50px;
    width: 100px;
    font-size:100%;
    text-align:center;
}
/*menu button on game screen*/
.menuBtnGame{
    height: 50px;
    width: 100px;
    font-size:100%; 
    text-align:center;
}

/*Game Over  Modal */
.gameOverModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.gameOver-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #ff9668;
    width: 80%;
}
/*You win or You Lose*/
#gameOverResult{
    font-family: "Bebas Neue", sans-serif;
    font-size: 250%;
}

#gOMessage{
    font-size: 125%;
}