/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.flex-row{
    display: flex;
    flex-flow: row nowrap;    
}

.flex-column{
    display: flex;
    flex-flow: column nowrap;    
}

.hidden{
    display: none;
}